/* board settings */
.board {
  border: 1px solid black;
  background-color: orange;

  width: 90vw;
  height: 90vh;
  margin: auto;

  &__title {
    border-bottom: 3px solid black;
  }
}

/* lists settings */
.lists {
  display: flex;

  background-color: pink;
  border: 1px solid black;

  width: 90%;
  height: 90%;

  margin: auto;

  &__main {
    border: 1px solid black;
  }

  &__purpose {
    border-bottom: 1px solid gray;

    display: inline-block;
    margin: auto;
  }

  &__column {
    @mixin column {
      flex-basis: 50%;
    }

    @include column;
    height: 100%;

    &--two-lines {
      @include column;
      height: 50%;
    }
  }
}

/* tags settings */
.tags {
  background-color: white;
}
